    {% extends "layout.html" %}



    

    {% set bodyId = "page-ideas" %}

    {% block title %}
    <title>Ideias-Casa Criativa</title>

    {% endblock title %}
   


    {% block content %}
        <header id="main-header">
            <a href="/">
                <img src="/logos.png" alt=" Imagem da Logomarca">
            </a>
            <nav>
                <li><a href="/">Início</a></li>
                <li><a  class="button" href="#" onclick="onOff()">Nova Ideia</a></li>
            </nav>
        </header>
      
        <main>
            <section id="ideias">
                {%for idea in ideas%}
                <div class="idea">
                     <img src="{{idea.image}}" alt="Imagem do {{idea.title}}">
                     <div class="content">
                         <h3> {{idea.title}} </h3>
                         <p>{{idea.category}}</p>
                         <div class="description">
                             {{idea.description}}
                         </div>
                         <a href=" {{idea.link}}"target>Ir para a Ideia</a>
                         <button action="/" method="DELETE" onsubmit="return checkFields(event)"> Remover Ideia </button>
                     </div> <!-- content = conteudo-->
                </div> 
                
                {%endfor%}
            

            </section>
        </main>
       
        {% endblock %}