{% extends "layout.html" %}

{% block content %}
<section id="intro">
    <header> <!-- caixa do cabeçalho-->
        <a href="/">
            <img src="/logos.png" alt=" Imagem da Logomarca">
        </a>
    </header>
    
    <main>
        
        <p>
            Desenvolvemos este site com base nos conhecimentos adquiridos no workshop dev da Rocketseat.
        </p>
        <p>
            Visando auxiliar os estudantes do SENAI a continuarem seus estudos em casa. 
             </p>
            
        <p>
           Seja durante o periodo da quarentena ou para complementar os estudos.
        </p>
 <!-- tag de paragrafo , so recebe um paragrafo-->
      <!-- tag strong = deixa em negrito-->
    </main> <!--Caixa do conteudo principal-->
    
    <section id="buttons">
        <button onclick="onOff()"> +Teste formulario </button>
        <a href="/ideias" class="button"> Bootcamp</a>
    </section>


</section> <!-- è a priemira caixa(caixinha) da div -->

<section id="ideas">
    {%for idea in ideas%}
    <div class="idea">
         <img src="{{idea.image}}" alt="Imagem do {{idea.title}}">
         <div class="content">
             <h3> {{idea.title}} </h3>
             <p>{{idea.category}}</p>
             <div class="description">
                 {{idea.description}}
             </div>
             <a href=" {{idea.link}}"target>Ir para a Ideia</a>
             <button action="/ideias/:id"> Remover Ideia </button>
         </div> <!-- content = conteudo-->
    </div> 
    
    {%endfor%}
    
   <!-- a classe pode reusada em varias caixass-->
<!-- para pegar icones acesse flaticon-->


</section>
{% endblock %}
